body { 
    text-align: center;
    background-color:skyblue;
}
.titulo2 { 
     color: blue;
     text-align: center;
     font-size: 30px;
     background-color: skyblue;     
     font-family: 'Blackadder ITC';
    
}
.parrafo2{ 
    color: #000000;
    text-align: center;
    background-color: cornflowerblue;
    font-size: 20px;
    font-family: 'Baskerville Old Face'; 
     

