.body{
    text-align:center ;
    color: black;
    font-size: 45px;
    font-family: cursive;
    background-color: darkcyan;
}
.imagen3 {
    text-align: center;
}
.Misión {
    text-align: left;
    background-color: white;
    color: green;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.MisiónP{
    text-align: left;
    background-color:rgb(6, 165, 170);
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Visión{
    text-align: left;
    background-color: white;
    color: green;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.VisiónP{
    text-align: left;
    background-color:rgb(6, 165, 170);
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
