  .parrafoproy{
      text-align: center;
      background-color: blue;
      color: cornsilk;
      font-size: 25px;
  }
  
  .container{
      background-color: darkcyan;
    
  }
  .body{
      background-color: cyan;
      text-align: center;
  }